
body{
  padding-top:40px;
  background-color:#F8F8F8;
  overflow-x:hidden;
}

html,body{

width: 100%;
height: 100%;
margin: 0px;
padding: 0px;
background-color:#F8F8F8;
font-family: 'Inconsolata', "Apercu Mono Regular", 'Andale Mono', monospace;
}

.jumbotron h1{
  font-size: 70px;
  font-weight: 100;
}

ul.social{
  list-style: none;
  margin:0;
  padding: 25px 0 0;

}

ul.social li{
display: inline;
list-style-type: none;

}

ul.social li:nth-child(2){
margin: 0 10px;
}

a img.desaturate { -webkit-filter: grayscale(100%); filter: grayscale(100%); }

a img.desaturate:hover { -moz-filter: grayscale(75%); -webkit-filter: grayscale(75%); filter: grayscale(75%); }

#my-navbar{
  background: #494848;
  border:none;
  display:none;
  z-index: 999;
}

.bg{
  padding-top: 20px;
  padding-bottom:200px;
}
.feed-padding{
  padding-bottom: 2em;
}

.img-parent{
  text-align: center;
}

.round{
  border-radius: 50%;
}

blockquote{
  text-align: left;
}

.navbar-inverse .navbar-brand{
  color:linen;
  font-weight: 100;
  padding-left: 20px;
  font-size: 1.7em;
  letter-spacing: 0.05em;
}


.jumbotron {
background-image: url("../sea.jpg");
no-repeat   center center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background-attachment: fixed;
min-height:100%;
min-width:100%;
color:rgba(43,26,34);
z-index: -2;
overflow-x:hidden;



}


.hide{
  display:none;
}

.pattern{
    background-image: url('../sea2.png');
    background-position: center;
    min-width: 110%;
    min-height: 110%;
    opacity: 0.5;
    position: absolute;
    top:-5%;
    left:-5%;
    
    overflow-x:hidden;
    display:none;
}



blockquote p{
  padding-top: 20px;
}


#downloadBtn{
  margin-left:2.5em;
  margin-right: 2em;
}


.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  width:100%;
  /* bring your own prefixes */
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}

h1, .navbar-brand{
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  letter-spacing: 0.1em;
}

h3{
  font-weight: 400;
}

.btn{
  font-weight:bold;
}

.page-header{
  padding-top: 50px;
  border:none;
}

.foot{
  margin-top: 5em;
  padding-top: 5em;
  border-top: 1px solid rgba(43,26,34, .4);
  color:#3B3B3B;
  background-image: url("../sea.jpg");
    no-repeat   center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
min-height:100%;
}

.foot a{
  color:whitesmoke;
  font-weight: 400;
  background-color: #333;
  padding:3px;
  border-radius: 3px;
  }

.footsocial{
  margin-top: 1em;
  color:#333;
  width: 100%;
   font-weight: 700;
   letter-spacing: 0.1em;
}

.hrspace{
  visibility: hidden
}

#arrow{
  font-size:34px;
  position: fixed;
  bottom:1em;
width: 100%;
text-align: center;
 color:whitesmoke;
 }



.fader{
  display:none;
z-index: 999;
}

/*
  ========================================
  Back to Top
  ========================================
*/




a.back-to-top {
  display: none;
  width: 38px;
  height: 38px;
  text-indent: -9999px;
  position: fixed;
  z-index: 999;
  right: 10px;
  bottom: 10px;
  background:whitesmoke url('../up-arrow.png') no-repeat center;
  padding-top:50px;
  border-radius: 3px;
}


/*
==============================================
fadeIn
==============================================
*/

.fadeIn{
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn; 

  animation-duration: 1.5s; 
  -webkit-animation-duration: 1.5s;

  animation-timing-function: ease-in-out; 
  -webkit-animation-timing-function: ease-in-out;   

  visibility: visible !important; 
}

@keyframes fadeIn {
  0% {
    transform: scale(0);
    opacity: 0.0;   
  }
  60% {
    transform: scale(1.1);  
  }
  80% {
    transform: scale(0.9);
    opacity: 1; 
  } 
  100% {
    transform: scale(1);
    opacity: 1; 
  }   
}

@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: scale(0);
    opacity: 0.0;   
  }
  60% {
    -webkit-transform: scale(1.1);
  }
  80% {
    -webkit-transform: scale(0.9);
    opacity: 1; 
  } 
  100% {
    -webkit-transform: scale(1);
    opacity: 1; 
  }   
}
/*

==============================================
slideDown
==============================================
*/


.slideDown{

  

  animation-name: slideDown;
  -webkit-animation-name: slideDown;  
  -moz-animation-name: slideDown; 


  animation-duration: 2.75s;  
  -webkit-animation-duration: 2.75s;
  -mos-animation-duration: 2.75s;

  animation-timing-function: ease;  
  -moz-animation-timing-function: ease; 
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s; /* Chrome, Safari, Opera */
    animation-delay: 0s;


  visibility: visible;  
overflow-y:hidden;

}

@keyframes slideDown {
  0% {
    transform: translateY(100%);
  }
    
  100% {
    transform: translateY(0%);
  }   
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(100%);
  }
     
  100% {
    -webkit-transform: translateY(0%);
  } 
}


/*
==============================================
pulse
==============================================
*/

.pulse{
  animation-name: pulse;
  -webkit-animation-name: pulse;  

  animation: pulse 4s infinite; 
  -webkit-animation: pulse 4s infinite;

  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;


}

@keyframes pulse {
  0% {
    transform: scale(0.9);
    opacity: 0.7;   
  }
  50% {
    transform: scale(1);
    opacity: 1; 
  } 
  100% {
    transform: scale(0.9);
    opacity: 0.7; 
  }     
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
    opacity: 0.7;   
  }
  50% {
    -webkit-transform: scale(1);
    opacity: 1; 
  } 
  100% {
    -webkit-transform: scale(0.95);
    opacity: 0.7; 
  }     
}



@media (max-width: 770px) {

  .pattern{
    display:none;
  }

#downloadBtn{
  display:none;
}



/* Landscape phones and smaller */
@media (max-width: 480px) {
#spacefeed{
  padding-bottom: 0px;
}



.page-header{
  padding-top: 50px;
}

}



