
body{
  padding-top:40px;
  background-color: whitesmoke;
}

html,body{
height:100%;
background-color: whitesmoke;

font-family: "Apercu Mono Regular", 'Andale Mono', monospace;
}

.jumbotron h1{
  font-size: 70px;
  font-weight: 800;
}

.navbar{ 
    background-image: none;
}

#my-navbar{
  background: #3B3B3B;
}

.bg{
  padding-top: 20px;
  padding-bottom:200px;
}
.feed-padding{
  padding-bottom: 2em;
}

.img-parent{
  text-align: center;
}

.round{
  border-radius: 50%;
}

blockquote{
  text-align: left;
}

.navbar-inverse .navbar-brand{
  color:linen;
  font-weight: 800;
  padding-left: 20px;
  font-size: 1.7em;
  letter-spacing: 0.05em;
}

.jumbotron {
background-image: url("../sea.jpg");
no-repeat   center center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
min-height:100%;
color:rgba(43,26,34);
}

.overlay{
  background-color:rgba(43,26,34, .4);
  width:100%;
  height:100%;
}

.feedbg{
  background-color: 
  
  no-repeat   center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
min-height:100%;
margin-top: -30px;
}

blockquote p{
  padding-top: 20px;
}

blockquote{
  border-left: 0px solid grey;
}

#downloadBtn{
  margin-left:2.5em;
  margin-right: 2em;
}


.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  width:100%;
  /* bring your own prefixes */
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}

h3{
  font-weight: 100;
}

.btn{
  font-weight:bold;
}

.page-header{
  padding-top: 50px;
  border:none;
}

.foot{
  margin-top: 2em;
  padding-top: 2em;
  border-top: 1px solid rgba(43,26,34, .4);
  color:#3B3B3B;
  background-image: url("../sea.jpg");
    no-repeat   center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
min-height:100%;
}

.foot a{
  color:grey;
}

.hrspace{
  visibility: hidden
}



==============================================
slideDown
==============================================



.slideDown{

  animation-name: slideDown;
  -webkit-animation-name: slideDown;  
  -moz-animation-name: slideDown; 

  animation-duration: 1.75s;  
  -webkit-animation-duration: 1.75s;
  -mos-animation-duration: 1.75s;

  animation-timing-function: ease;  
  -moz-animation-timing-function: ease; 

  opacity: 1;

  visibility: visible !important;  

}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  50%{
    transform: translateY(8%);
  }
  65%{
    transform: translateY(-4%);
  }
  80%{
    transform: translateY(4%);
  }
  95%{
    transform: translateY(-2%);
  }     
  100% {
    transform: translateY(0%);
  }   
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
  }
  50%{
    -webkit-transform: translateY(8%);
  }
  65%{
    -webkit-transform: translateY(-4%);
  }
  80%{
    -webkit-transform: translateY(4%);
  }
  95%{
    -webkit-transform: translateY(-2%);
  }     
  100% {
    -webkit-transform: translateY(0%);
  } 
}


@media (max-width: 770px) {

#downloadBtn{
  display:none;
}


/* Landscape phones and smaller */
@media (max-width: 480px) {
#spacefeed{
  padding-bottom: 0px;
}



.page-header{
  padding-top: 50px;
}

}



