
body{
  padding-top:40px;
  background-color: whitesmoke;
}

html,body{
height:100%;
background-color: whitesmoke;
}

.bg{
  padding-top: 20px;
  padding-bottom:200px;
}
.feed-padding{
  padding-bottom: 2em;
}

.round{
  border-radius: 50%;
  text-align: center;
  margin: 0 auto;
}

.jumbotron {
background-image: url("../highway.jpg");
no-repeat   center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
min-height:100%;
color:linen;
}

.feedbg{
  background-color: 
  
  no-repeat   center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
min-height:100%;
margin-top: -30px;
}

blockquote p{
  padding-top: 20px;
}

blockquote{
  border-left: 0px solid grey;
}


.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  width:100%;
  /* bring your own prefixes */
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#center{
  margin-left: 10px;
}

.page-header{
  padding-top: 50px;
  border:none;
}


.foot{
  margin-top: 2em;
  background-color:#1F0F1A;
  color:linen;
}

.hrspace{
  visibility: hidden
}
/*
.jumbotron, .bg{
  background-color: #BBCCB5;
}

.navbar-inverse .navbar-brand{
  color:#BBCCB5;
}





/* Landscape phones and smaller */
@media (max-width: 480px) {
#spacefeed{
  padding-bottom: 0px;
}


.page-header{
  padding-top: 0;
}

}



